/* screen - nav-bar-home-empty */

.nav-bar-home-empty {
  align-items: flex-start;
  background-color: var(--black-3);
  display: flex;
  flex-direction: column;
  min-height: 770px;
  width: 375px;
}

#overlay-nav-bar-home-empty {
  background-color: var(--black-3);
}

.overlay .nav-bar-home-empty {
  background-color: #00000000;
}

.nav-bar-home-empty .overlap-group3 {
  background-image: url();
  background-size: 100% 100%;
  height: 1px;
  position: relative;
  width: 1px;
}

.nav-bar-home-empty .vuesaxlinearstatus-up {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.nav-bar-home-empty .vector {
  cursor: pointer;
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.nav-bar-home-empty .overlap-group2 {
  height: 271px;
  margin-left: 29px;
  margin-top: 120px;
  position: relative;
  width: 134px;
}

.nav-bar-home-empty .rectangle-1371 {
  background-color: var(--wild-sand);
  cursor: pointer;
  height: 31px;
  left: 0;
  position: absolute;
  top: 240px;
  width: 132px;
}

.nav-bar-home-empty .rectangle-1370 {
  background-color: var(--wild-sand);
  cursor: pointer;
  height: 31px;
  left: 0;
  position: absolute;
  top: 189px;
  width: 132px;
}

.nav-bar-home-empty .rectangle-1369 {
  background-color: var(--wild-sand);
  cursor: pointer;
  height: 31px;
  left: 0;
  position: absolute;
  top: 138px;
  width: 132px;
}

.nav-bar-home-empty .rectangle-1368 {
  background-color: var(--wild-sand);
  cursor: pointer;
  height: 31px;
  left: 0;
  position: absolute;
  top: 87px;
  width: 132px;
}

.nav-bar-home-empty .group-336 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 4px;
  min-height: 266px;
  position: absolute;
  top: 0;
  width: 130px;
}

.nav-bar-home-empty .overlap-group1 {
  height: 42px;
  position: relative;
  width: 106px;
}

.nav-bar-home-empty .rectangle {
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
}

.nav-bar-home-empty .f116f8ceda257a2c55b4af1d58ee8b70-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.nav-bar-home-empty .price {
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 14px;
  width: 29px;
}

.nav-bar-home-empty .frame {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.nav-bar-home-empty .group-258 {
  align-items: flex-start;
  display: flex;
  height: 174px;
  margin-top: 50px;
  min-width: 138px;
}

.nav-bar-home-empty .vuesaxlinear-container {
  background-image: url();
  background-size: 100% 100%;
  height: 1px;
  position: relative;
  width: 1px;
}

.nav-bar-home-empty .vuesaxlinearexport {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.nav-bar-home-empty .vuesaxlinearcard {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.nav-bar-home-empty .vuesaxlinearhome {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.nav-bar-home-empty .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 174px;
  width: 95px;
}

.nav-bar-home-empty .place {
  letter-spacing: 0;
  min-height: 18px;
  width: 95px;
}

.nav-bar-home-empty .cards {
  letter-spacing: 0;
  margin-top: 35px;
  min-height: 18px;
  width: 93px;
}

.nav-bar-home-empty .place-1 {
  letter-spacing: 0;
  margin-left: 1.12px;
  margin-top: 34px;
  min-height: 18px;
  width: 94px;
}

.nav-bar-home-empty .recipients {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 33px;
  min-height: 18px;
  width: 94px;
}

.nav-bar-home-empty .compare-rates {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 69px;
  margin-top: 23px;
  min-height: 18px;
  width: 94px;
}
