/* screen - pop-up-4 */

.pop-up-4 {
  align-items: flex-start;
  display: flex;
  height: 770px;
  min-width: 375px;
}

#overlay-pop-up-4 {
  background-color: transparent;
}

.overlay .pop-up-4 {
  background-color: #00000000;
}

#overlay-pop-up-4 .pop-up-4 {
  left: 27px;
  top: 457px;
}

#overlay-pop-up-4 .container-center-horizontal {
  justify-content: normal;
}

.pop-up-4 .pop-up-4-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-height: 141px;
  width: 147px;
}

.pop-up-4 .overlap-group {
  height: 3px;
  position: relative;
  width: 3px;
}

.pop-up-4 .overlap-group-item {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.pop-up-4 .vector-8 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.pop-up-4 .overlap-group-item-1 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.pop-up-4 .local-peer-to-peer {
  letter-spacing: 0;
  margin-top: 60px;
  min-height: 14px;
  text-align: center;
  width: 148px;
}
