/* screen - receiving-currency-pairs */

.receiving-currency-pairs {
  align-items: flex-start;
  display: flex;
  height: 3393px;
  min-width: 428px;
}

#overlay-receiving-currency-pairs {
  background-color: transparent;
}

.overlay .receiving-currency-pairs {
  background-color: #00000000;
}

#overlay-receiving-currency-pairs .receiving-currency-pairs {
  left: 239px;
  top: 224px;
}

#overlay-receiving-currency-pairs .container-center-horizontal {
  justify-content: normal;
}

.receiving-currency-pairs .receiving-currency-pairs-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-height: 208px;
  width: 86px;
}

.receiving-currency-pairs .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 35px;
  min-width: 75px;
}

.receiving-currency-pairs .mask-group-container {
  background-image: url();
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}

.receiving-currency-pairs .mask-group {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.receiving-currency-pairs .price-1 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 22px;
  min-height: 16px;
  width: 29px;
}

.receiving-currency-pairs .rectangle-1 {
  background-color: var(--wild-sand);
  height: 2px;
  margin-top: 14px;
  width: 86px;
}

.receiving-currency-pairs .price {
  letter-spacing: 0;
  margin-right: 10.94px;
  margin-top: 18px;
  min-height: 16px;
  width: 29px;
}

.receiving-currency-pairs .rectangle {
  background-color: var(--wild-sand);
  height: 2px;
  margin-top: 16px;
  width: 86px;
}
