/* screen - swift-codes */

.swift-codes {
  align-items: flex-start;
  background-color: var(--black-4);
  display: flex;
  height: 772px;
  min-width: 375px;
}

#overlay-swift-codes {
  background-color: var(--black-4);
}

.overlay .swift-codes {
  background-color: #00000000;
}

.swift-codes .swift-codes-1 {
  align-items: flex-end;
  background-color: var(--wild-sand);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  left: calc(50vw - 185.0px);
  min-height: 579px;
  padding: 12.2px 31px;
  position: relative;
  top: calc(100vh - 579px);
  width: 370px;
}

.swift-codes .vuesaxlineararrow-left {
  align-self: flex-start;
  cursor: pointer;
  height: 1px;
  margin-left: 1px;
  width: 1px;
}

.swift-codes .swift-codes-2 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 65px;
  min-height: 40px;
  text-align: center;
  width: 305px;
}

.swift-codes .group-192 {
  align-items: flex-start;
  display: flex;
  height: 78px;
  margin-top: 31px;
  min-width: 307px;
}

.swift-codes .vector {
  height: 1px;
  width: 1px;
}

.swift-codes .overlap-group {
  align-self: flex-end;
  height: 52px;
  margin-bottom: 6.3px;
  margin-left: 10px;
  position: relative;
  width: 282px;
}

.swift-codes .group-264 {
  align-items: center;
  background-color: var(--link-water);
  border-radius: 18px;
  display: flex;
  height: 36px;
  left: 238px;
  min-width: 36px;
  padding: 0 9px;
  position: absolute;
  top: 1px;
}

.swift-codes .copy {
  align-items: flex-start;
  display: flex;
  height: 18px;
  min-width: 18px;
}

.swift-codes .rectangle-38 {
  height: 2px;
  width: 2px;
}

.swift-codes .rectangle-39 {
  align-self: center;
  border-radius: 2px;
  height: 9px;
  margin-left: 5px;
  margin-top: 4.5px;
  width: 9px;
}

.swift-codes .bank {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 282px;
}

.swift-codes .group-25 {
  align-items: flex-start;
  display: flex;
  height: 78px;
  margin-top: 15px;
  min-width: 307px;
}

.swift-codes .span1 {
  color: #1976d2;
  font-family: var(--font-family-circular_std-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
}
