/* screen - transact-1 */

.transact-1 {
  align-items: center;
  background-color: var(--wild-sand);
  display: flex;
  flex-direction: column;
  height: 772px;
  overflow: hidden;
  width: 375px;
}

.transact-1 .group-230 {
  align-items: flex-end;
  display: flex;
  height: 168px;
  left: -22px;
  min-width: 402px;
  position: fixed;
  top: -91px;
  z-index: 13;
}

.transact-1 .overlap-group6 {
  height: 176px;
  margin-bottom: -7px;
  margin-left: -4px;
  position: relative;
  width: 406px;
}

.transact-1 .rectangle-59 {
  background-color: var(--white);
  height: 84px;
  left: 21px;
  position: absolute;
  top: 85px;
  width: 385px;
}

.transact-1 .glassy-card {
  height: 176px;
  left: 0;
  position: absolute;
  top: 0;
  width: 406px;
}

.transact-1 .group-307 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 243px;
  min-width: 101px;
  position: fixed;
  top: 37px;
  z-index: 14;
}

.transact-1 .overlap-group7 {
  border-radius: 3px;
  height: 26px;
  position: relative;
  width: 99px;
}

.transact-1 .group-238 {
  align-items: flex-start;
  background-color: var(--regent-st-blue);
  border-radius: 7.5px;
  display: flex;
  height: 15px;
  left: 9px;
  min-width: 15px;
  padding: 2.0px 1.3px;
  position: absolute;
  top: 6px;
}

.transact-1 .vuesaxlinearprofile {
  height: 11px;
  width: 12px;
}

.transact-1 .rectangle {
  border-radius: 3px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.transact-1 .name {
  cursor: pointer;
  left: 31px;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
  width: 68px;
}

.transact-1 .flex-row {
  align-items: center;
  display: flex;
  margin-right: 3.0px;
  margin-top: 95px;
  min-width: 308px;
  z-index: 8;
}

.transact-1 .vuesaxlineararrow-left {
  cursor: pointer;
  height: 21px;
  width: 21px;
}

.transact-1 .close-square {
  cursor: pointer;
  height: 13px;
  margin-left: 274px;
  width: 13px;
}

.transact-1 .receivers-bank-information {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 34px;
  min-height: 40px;
  width: 305px;
  z-index: 1;
}

.transact-1 .full-name-of-account-holder {
  letter-spacing: 0;
  margin-right: 60.0px;
  margin-top: 10px;
  min-height: 17px;
  width: 249px;
  z-index: 3;
}

.transact-1 .short-text {
  align-items: flex-end;
  display: flex;
  height: 40px;
  margin-right: 6.0px;
  margin-top: 4px;
  min-width: 307px;
  z-index: 10;
}

.transact-1 .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 43px;
  margin-bottom: -3px;
  min-width: 307px;
  padding: 13px 12px;
}

.transact-1 .input {
  background-color: transparent;
  border: 0;
  height: 16px;
  letter-spacing: 0.11px;
  padding: 0;
  width: 276px;
}

.transact-1 .input::placeholder {
  color: #bdbdbd99;
}

.transact-1 .group-259 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  min-height: 61px;
  width: 311px;
  z-index: 2;
}

.transact-1 .bank-name {
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 17px;
  width: 249px;
}

.transact-1 .overlap-group-1 {
  align-items: center;
  background-image: url(../img/vector-12@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 4px;
  min-width: 307px;
  padding: 0 2px;
}

.transact-1 .enter-bank-name {
  background-color: transparent;
  border: 0;
  height: 17px;
  letter-spacing: 0;
  margin-bottom: 1.0px;
  padding: 0;
  width: 237px;
}

.transact-1 .enter-bank-name::placeholder {
  color: #c4c4c499;
}

.transact-1 .vector-container {
  align-self: flex-end;
  height: 39px;
  margin-left: 16px;
  position: relative;
  width: 39px;
}

.transact-1 .vector {
  cursor: pointer;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.transact-1 .vector-1 {
  height: 6px;
  left: 16px;
  position: absolute;
  top: 15px;
  width: 10px;
}

.transact-1 .iban {
  letter-spacing: 0;
  margin-right: 60.0px;
  margin-top: 29px;
  min-height: 17px;
  width: 249px;
  z-index: 4;
}

.transact-1 .number {
  align-items: flex-start;
  display: flex;
  margin-right: 11.0px;
  margin-top: 4px;
  min-width: 300px;
  z-index: 9;
}

.transact-1 .overlap-group3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 40px;
  min-width: 307px;
  padding: 11px 13px;
}

.transact-1 .input-1 {
  background-color: transparent;
  border: 0;
  height: 16px;
  letter-spacing: 0;
  padding: 0;
  width: 269px;
}

.transact-1 .input-1::placeholder {
  color: #bdbdbd99;
}

.transact-1 .overlap-group8 {
  height: 24px;
  margin-right: 60.0px;
  margin-top: 22px;
  position: relative;
  width: 249px;
  z-index: 5;
}

.transact-1 .swift-code {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 7px;
  width: 249px;
}

.transact-1 .group-263 {
  cursor: pointer;
  height: 23px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 66px;
}

.transact-1 .short-text-1 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  margin-right: 6.0px;
  margin-top: 4px;
  min-width: 307px;
  z-index: 11;
}

.transact-1 .note-the-bank-accou {
  color: var(--navy-blue);
  font-family: var(--font-family-circular_std-book);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  margin-right: 5.0px;
  margin-top: 14px;
  min-height: 41px;
  text-align: center;
  width: 308px;
  z-index: 6;
}

.transact-1 .group-224 {
  align-items: flex-start;
  display: flex;
  margin-left: 3.0px;
  margin-top: 10px;
  min-width: 166px;
  z-index: 7;
}

.transact-1 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0px 2px 2px #00000026;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  min-width: 164px;
  padding: 6px 0;
}

.transact-1 .vuesaxlinearuser-add {
  height: 18px;
  width: 18px;
}

.transact-1 .add-to-recipients {
  align-self: center;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 2.0px;
  min-height: 15px;
  width: 116px;
}

.transact-1 .submit-button {
  align-items: center;
  background-color: var(--chateau-green);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 40px;
  left: 38px;
  min-width: 300px;
  padding: 0 15px;
  position: fixed;
  top: 656px;
  z-index: 12;
}

.transact-1 .title {
  height: 16px;
  letter-spacing: 0.11px;
  text-align: center;
  width: 269px;
}
