/* screen - transfer */

.transfer {
  align-items: flex-start;
  background-color: var(--black-4);
  display: flex;
  height: 772px;
  min-width: 375px;
}

#overlay-transfer {
  background-color: var(--black-4);
}

.overlay .transfer {
  background-color: #00000000;
}

.transfer .transfer-1 {
  align-items: center;
  background-color: var(--wild-sand);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  left: calc(50vw - 185.0px);
  min-height: 708px;
  padding: 11px 0;
  position: relative;
  top: calc(100vh - 708px);
  width: 370px;
}

.transfer .rectangle-66 {
  background-color: var(--mist-gray);
  border-radius: 7px;
  height: 4px;
  width: 100px;
}

.transfer .overlap-group-container {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  margin-top: 65px;
  min-width: 300px;
}

.transfer .overlap-group {
  height: 45px;
  position: relative;
  width: 105px;
}

.transfer .mask-group {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.transfer .you-send {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 8px;
  width: 51px;
}

.transfer .text {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
  width: 94px;
}

.transfer .line-9 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.transfer .vector {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.transfer .overlap-group-1 {
  border-radius: 3px;
  height: 58px;
  margin-left: 88px;
  position: relative;
  width: 107px;
}

.transfer .gs-shape {
  background-color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 107px;
}

.transfer .price {
  left: 43px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
  width: 29px;
}

.transfer .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  margin-top: 23px;
  min-width: 300px;
}

.transfer .receive {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 8px;
  width: 51px;
}

.transfer .line-9-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.transfer .vector-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.transfer .flex-row {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 138px;
  margin-top: 23px;
  min-width: 300px;
  padding: 11px;
}

.transfer .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 113px;
  width: 112px;
}

.transfer .price-1 {
  letter-spacing: 0;
  min-height: 15px;
}

.transfer .price-2 {
  letter-spacing: 0;
  margin-top: 19px;
  min-height: 15px;
}

.transfer .price-3 {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 15px;
}

.transfer .in-less-than-24-hours {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 15px;
}

.transfer .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  min-height: 113px;
  width: 91px;
}

.transfer .our-current-rate {
  letter-spacing: 0;
  min-height: 15px;
  width: 90px;
}

.transfer .fees {
  letter-spacing: 0;
  margin-top: 19px;
  min-height: 15px;
  width: 90px;
}

.transfer .you-saved {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 15px;
  width: 90px;
}

.transfer .estimated-arrival {
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 15px;
}

.transfer .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 47px;
  width: 129px;
}

.transfer .overlap-group-3 {
  height: 24px;
  position: relative;
  width: 105px;
}

.transfer .vector-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.transfer .destination {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
  width: 94px;
}

.transfer .cyprus-north {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 8px;
  min-height: 15px;
  min-width: 81px;
}

.transfer .gs-shape-1 {
  background-color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  height: 58px;
  margin-left: 126px;
  width: 45px;
}

.transfer .vector-3 {
  height: 1px;
  width: 1px;
}

.transfer .flex-col-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  margin-left: 10px;
  min-height: 45px;
  width: 109px;
}

.transfer .delivery-method {
  letter-spacing: 0;
  min-height: 15px;
  width: 94px;
}

.transfer .flex-row-1 {
  align-items: center;
  display: flex;
  margin-top: 6px;
  min-width: 109px;
}

.transfer .group-211 {
  align-items: flex-start;
  background-color: var(--link-water);
  border-radius: 12px;
  display: flex;
  height: 24px;
  min-width: 24px;
}

.transfer .vuesaxoutlinebank {
  height: 1px;
  width: 1px;
}

.transfer .bank-transfer {
  letter-spacing: 0;
  margin-left: 13px;
  margin-top: 1.0px;
  min-height: 15px;
  min-width: 72px;
}

.transfer .gs-shape-2 {
  background-color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  height: 58px;
  margin-left: 135px;
  width: 45px;
}

.transfer .submit-button {
  align-items: center;
  background-color: var(--chateau-green);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-top: 43px;
  min-width: 300px;
  padding: 0 15px;
}

.transfer .title {
  height: 16px;
  letter-spacing: 0.11px;
  text-align: center;
  width: 269px;
}
